
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #434242;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}


.nav-item {
  padding: 0 1px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

/* .download-button {
  margin: 5% 3% 5% 0;
} */

/* Title Section */

#title {
  background-color:#434242;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 1% 12% 7%;
}

/* title paragraph */
.title-para{
  color: aqua;
  font-size: 1.3rem;
}

.big-heading{
  font-size: 3rem;
}
/* Title Image */

.title-image {
  width: 90%;
  
  position: absolute;
  right: 6%;
  top: 4%;
}

/* Features Section */

#features {
  position: relative;
  background-color: #EFF5F5;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
  
}

.f1:hover{
  background-color: white;
}



/* Testimonial Section */



/* Pricing Section */

#choose {
  padding: 100px;
}

.price-text {
  font-size: 1rem;
  line-height: 1.5;
  color:black;
}

.choose-column {
  padding: 3% 2%;
}
.why-para{
  color: #fff;
  font-size: 1.5rem;
}

.connect{
  padding-bottom: 2%;
  text-align: left;
  padding-left: 2%;
  background-color: #E7F6F2;
  
}
.c1:hover{
background-color:#D2D79F;
}
.c2:hover{
  background-color:#FFEEAF
  }
  .c3:hover{
    background-color:#E0D98C;
    }
/* CTA Section */
.free{
  background-image:url("images/crousel1.jpg");
}

/* Footer Section */
#footer{
  display: flex;
  justify-content: space-around;
  background-color: #E7F6F2;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
  .feature-box img{
    width: 30%;
  }
  .feature-para{
    font-size: 2rem;
    color: #16213E;
  }
  #footer{
    display: flex;
    flex-direction: column;
    justify-content: center
  }

}

